/***********************************/
/********** HEADING ****************/
/***********************************/

#contact-custom hr{
	border-top: 10px solid #4A4A4A;
	width: 300px;
}

/***********************************/
/************* BODY ****************/
/***********************************/

#contact-custom h3{
	padding: 40px 0;
	color: #3F51B5;
}