<div id="footer">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <ul class="list-inline text-center">
                <li>
                    <a href="{% url 'home' %}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                        </span>
                        <p>home</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'categories' %}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-list fa-stack-1x fa-inverse"></i>
                        </span> 
                        <p>categories</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <p>contact</p>
                </li>
            </ul>
        </div>
    </div>
    <div id="copyright" class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <p>Copyright &copy; Norbb 2016</p>
        </div>
    </div>
</div>